.features-heading{
    @include heading(131px);
}

.features-container{
    margin-top: 129px;
    @include flex(center,center,row);
}

.feature-list{
    @include flex(center,flex-start,row);

    img{
        animation-name: run;
        animation-duration: 9000ms;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        -webkit-animation-name: run;
        -webkit-animation-duration: 9000ms;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
        -moz-animation-name: run;
        -moz-animation-duration: 9000ms;
        -moz-animation-iteration-count: infinite;
        -moz-animation-direction: alternate;
    }
}

.feature-list:not(:last-child){
    margin-right: 46px;
}

.feature-info{
    width:256px;
    margin-left: 21px;

    h3{
        color: $text-black;
        font-size: 24px;
    }

    p{
        margin-top: 24px;
        font-size: 16px;
        color: $text-lightgray;
    }
}



