@media screen and (max-width:1700px){


    .main-links{
        flex: 1 0 20rem;
    }

    .download-left{
        margin-left: 50px;
    }
    .download-right{
        .right{
            right: 25%;
            z-index:10;
            top:126px;
        }
        .left{
            left: -5%;
            z-index:10;
            top:126px;
        }
    }
   
    
    nav{
        .logo{
         margin-left: 150px;
        }
    }

    .left-content{
        margin-left: -15%;
    }

    .social-links{
        @include flex(flex-start,center,row);
    
    }


}

@media screen and (max-width:1670px){
    .download-right{
        .right{
            right: 25%;
            z-index:10;
            top:126px;
        }
        .left{
            left: -5%;
            z-index:10;
            top:126px;
        }
    }
}

@media screen and (max-width:1579px){
    .download-left{
        margin-left: 230px;
    }

    .download-right{
        .left{
           left:-6%;
        }
    }

    .left-content{
        margin-right:150px;
    }

    .download-right{
        .right{
            right: 25%;
            z-index:10;
            top:126px;
        }
    }

}

@media screen and (max-width:1496px){
    .download-left{
        margin-left: 90px;
    }

    nav{
        .logo{
         margin-left: 150px;
        }
    }

    .left-content{
        margin-left: -15%;
    }

}

@media screen and (max-width:1400px){
    .download-left{
        margin-left: 50px;
    }

    .download-right{
        .right{
            right: 20%;
            z-index:10;
            top:126px;
        }
    }

    .left-content{
        margin-left: 50px;
    }

}

@media screen and (max-width:1361px){
    .download-left{
        margin-left: 20px;
    }

    .footer-nav{
        width: 100%;
    }

    .left-content{
        margin-right: 50px;
    }

    .right-content{
        margin-right: 40px;
    }

}

@media screen and (max-width:1300px){
    .sunny{
        left:-125px;
         top: 450px;
    }

    .left-content{
        margin-right: 100px;
        margin-left: 0;

        h1{
            color: #fff;
            font-size: 40px;
        }
    
        p{
            margin:42px 0;
            color: #fff;
            font-size: 18px;
        }
    }

    .social-links{
        display: none;
    }

    .features-container{
        @include flex(center,center,column);
    }

    .feature-list{
        margin-right: 46px;
        margin-top: 50px;
    }

}

@media screen and (max-width:1250px){


    nav{
        @include flex(space-between,center,row);
        width: 100%;

        .logo{
            display: inline-block;
        }

        .main-links{
            display: none;
        }
    
    }
    .social-links{
        display: none;
    }

    .menu-btn{
        display: flex;
        margin-right: 100px;
    }

    .download-right{

        .left{
            left: -1%;
            z-index:10;
            top:126px;
        }
    
        .right{
            right: 20%;
            z-index:10;
            top:126px;
        }
    
        .center{
            position: absolute;
            top:0;
            right: 300px;
            z-index: 15;
        }  
    }
  
    .sun{
        right: -40px;
    } 

    .left_two{
        margin-right: 50px;
    }
}

@media screen and (max-width:1150px){
    .contents{
        @include flex(center,center,column);
        width: 90%;
        z-index: 3;
    }

    .right-content{
        margin-top: 20px;
        margin-right: 15%;

        img{
            height: 400px;
        }
    }

    .arrow{
        display: none;
    }

    .sun{
        display: none;
    }

    .download-right{ 
        .center{
            position: absolute;
            top:0;
            right:40%;
            z-index: 15;
        }

        .left{
            left: -10%;
            z-index:10;
            top:126px;
        }   
    }

    .quote{
        margin-right: 100px;
    }
}

@media screen and (max-width:1024px){

    .contents{
        @include flex(center,center,column);
        width: 90%;
        z-index: 3;
    
    }

    .first_screen{
        background-size:100% 100%; 
        background-repeat: no-repeat;
        height: 100vh;
    }

    .left-content{
        margin: auto;

    }
    .right-content{
        margin-top: 50px;

        img{
            height: 450px;
        }
    }

    .circle{
        @include circle(70px,70px);
    }
    
    .small_circle{
        @include circle(35px,35px);
    }

    .sunny{
        left:-130px;
        top: 250px;
        background-color: $orange-color;
    }
    
    .london{
        background-color: $blue-color;
        top:200px;
        right:-128px;
    }
    
    .rio{
        background-color: $yellow-color;
        top: 400px;
        right:-50px;
        p{
            color: $text-blue;
            font-size: 20px;
        }
        
    }
    
    .dec{
        background-color: #fff;
        top: 80px;
        right: -60px;
    
        p{
            color:$text-blue;
            font-size: 20px;
        }
    
    }

    .arrow{
       left: 50%;
    }

    .features-container{
        @include flex(center,center,column);
    }

    .feature-list{
        margin-right: 46px;
        margin-top: 50px;
    }

    .screenshots-info{
        .right{
            margin-left:50px;
            
            img{
                margin-bottom: 48px;
            }
    
            h3{
                font-size: 24px;
            }
    
            p{
                font-size: 18px;
                width: 200px;
                height: 150px;     
            }
        }
        .left_two{
            margin-right: 50px;
            h3{
                font-size: 24px;
            }
    
            p{
                font-size: 18px;
                width: 200px;
                height: 150px;     
            }
        }

        .left{
            margin-left: 100px;
        }
    }

    .quote{
        p{
            margin: 24px 0;
            font-size: 18px;       
        }
    
        small{
            font-size: 18px;
        }
    }

    .close{
        right:15px;
    }

    .download-right{
        width: 700px;
        height: 239px;
        margin-left:10px;

        .left{
            left: -5%;
            z-index:10;
            top:126px;
        }
    
        .right{
            right: 3%;
            z-index:10;
            top:126px;
        }
    
        .center{
            position: absolute;
            top:0;
            right: 35%;
            z-index: 15;
        }
    }

    .quotes{
        @include flex(center,center,column);
        margin-top: 87px;
        
    }

    .quote{
        width: 495px;
        margin-bottom:50px;
    }

    .footer-logo{

        margin-left: 10px;
    }

    .footer-links{
        @include flex(center,center,row);
        margin-left: 0;
        margin-right: 100px;
    
    }

}

@media screen and (max-width:1000px){
    .right-content{
        img{
            height: 300px;
        }
    }

    .circle{
    @include circle(50px,50px);
    }

     .small_circle{
     @include circle(35px,35px);
    }

    .sunny{
        left:-138px;
        top: 100px;
        
        p{
            font-size: 14px;
        }
    }
    
    .london{
       
        top:90px;
        right:-100px;

        p{
            font-size: 9px;
        }
    }
    
    .rio{
        
        top: 200px;
        right:-50px;
        p{
            color: $text-blue;
            font-size: 16px;
        }
        
    }
    
    .dec{
        background-color: #fff;
        top: 20px;
        right: -40px;
    
        p{
            color:$text-blue;
            font-size: 20px;
        }
    
    }

 
    
    .close{
        margin-top: 15px;
        transform: rotate(180deg);
        position: absolute;
        right:0;
    }

    .prev, .next {
        left: 20%;
    }

    .next{
        right: -30%;

    }
}


@media screen and (max-width:850px){

    .download-right{ 
        .center{
            position: absolute;
            top:0;
            right: 20%;
            z-index: 15;
        }
    }
    .fixed-nav{
        display: none;
    }
}

@media screen and (max-width:780px){
    .download-right{ 
        .center{
            position: absolute;
            top:0;
            right: 15%;
            z-index: 15;
            width: 250px;
        }
    }

    .screenshots-info{
        .right{
            margin-left:50px;
            
            h3{
                font-size: 24px;
            }
    
            p{
                font-size: 18px;
                width: 200px;
                height: 150px;     
            }
        }
        .left_two{
            margin-right: 70px;
            h3{
                font-size: 24px;
            }
    
            p{
                font-size: 18px;
                width: 200px;
                height: 150px;     
            }
        }

        .left{
            margin-left: 20px;
        }

        .sun{
            @include circle(60px,60px);
            top: 137px;
            right: -25px;
        }
    }

}

@media screen and (max-width:700px){
    .download-right{
        .left,
        .right{
            display:none;
        }
    }
    .quote{
        margin-left: 120px;
    }
    .sun{
        display: none;
    }
}

@media screen and (max-width:500px){
    .quote{
        margin-right: 120px;
    }

    .download-right{
        .center{
            width: 100px;
            top: 40px;
        }
    }
    .screenshots-info{
        .right{
            margin-top: 80px;
            margin-left:50px;
            
            h3{
                font-size: 24px;
            }
    
            p{
                margin-right:20px;
                font-size: 16px;
                width: 150px;
                height: 150px;     
            }
        }

        .right_two{
            margin-right: 50px;

            img{
                width: 200px;
            }
        }

        .left_two{
            margin: 80px 10px 0px 90px;

            h3{
                font-size: 24px;
            }
    
            p{
               
                font-size: 16px;
                width: 150px;
                height: 150px;     
            }

        }

        .left{
            margin-left: 20px;

            img{
                width: 200px;
            }
        }
    }

    .cloudy{
        @include circle(50px,50px);
        top: 60px;
        left: 170px;

        p{
            font-size: 12px;
        }
    }
    
    .degree{
        @include circle(50px,50px);
        top: 376px;
        right: 180px;
    
        p{
            font-size: 20px;
        }
    }
    
}

@media screen and (max-width:414px){

    .left-content{
        margin-top: 95px;
        text-align: center;
    
        h1{
            color: #fff;
            font-size: 24px;
        }
    
        p{
            margin:42px 0;
            color: #fff;
            font-size: 16px;
        }
    }  
    
    .right-content{
        margin-left: 25px;
        img{
            height: 200px;
        }
    }
        .btn{
            font-size: 14px;
            width: 109px;
        }

    
        nav{
            .logo{
                display: none;

            }
        }

        .prev, .next {
            left: -2%;
        }
    
        .next{
            right: -90%;
    
        }

        .screenshots-info{
            .right{
                margin-top: 80px;
                margin-left:50px;
                
                h3{
                    font-size: 24px;
                }
        
                p{
                    margin-right:20px;
                    font-size: 16px;
                    width: 150px;
                    height: 150px;     
                }
            }

            .right_two{
                margin-right: 50px;

                img{
                    width: 200px;
                }
            }

            .left_two{
                margin: 80px 10px 0px 90px;
    
                h3{
                    font-size: 24px;
                }
        
                p{
                   
                    font-size: 16px;
                    width: 150px;
                    height: 150px;     
                }

            }
    
            .left{
                margin-left: 20px;

                img{
                    width: 200px;
                }
            }
        }

        .cloudy{
            @include circle(50px,50px);
            top: 60px;
            left: 170px;

            p{
                font-size: 12px;
            }
        }
        
        .degree{
            @include circle(50px,50px);
            top: 376px;
            right: 150px;
        
            p{
                font-size: 20px;
            }
        }
        
        .sun{
            @include circle(50px,50px);
            top: 137px;
            right: 20px;
        }
 
        .quote{
            width: 300px;
            margin-left:100px;
        }

        .download-left{

            margin-left: 60px;
            margin-top: 80px;
           
            h1{
                color: #fff;
                font-size: 18px;
                margin-bottom: 46px;
                text-transform: uppercase;
            }
        
            p{
                width: 300px;
                color:#fff;
            }
        }

        .download{
            @include flex(center,center,column);
        }

        .download-right{
            width: 200px;
            height: 339px;
            margin-left: 112px;

            img{
                width: 100px;
            }


            .left{
                left: -20%;
                z-index:10;
                top:50px;
            }
        
            .right{
                right: 15%;
                z-index:10;
                top:50px;
            }
        
            .center{
                position: absolute;
                top:200;
                right: 80px;
                z-index: 15;
                width: 100px;
            }
        }

        .footer{
            .footer-logo{
                display: none;
            }
        }

        .footer-links{
            @include flex(center,center,row);
            flex: 1 1 30rem;
            list-style: none;
            position: relative;
            display: inline-block;
        
            li{
                display: inline-block;
                position: relative;
                cursor: pointer;
                min-width: 120px;
                padding: 15px 20px;
            }
        }

        .menu-btn{
            width: 60px;
            height: 60px;
        }
        
        .menu-btn_burger{
            width: 40px;
            height: 5px;
        }
        
        .menu-btn_burger::before,
        .menu-btn_burger::after{
            width: 40px;
            height: 5px;
        }

        .arrow{
            @include circle(50px,50px);
            background-color: #fff;
            top:100vh;
        }

        .sunny,
        .london,
        .rio,   
        .dec{
            display: none;
        }      
}

@media screen and (max-width:375px){
    .screenshots-info{
        .right{
            margin-top: 5px;
            margin-left: 20px;

            img{
                height: 40px;
            }
            
            h3{
                font-size: 16px;
            }
    
            p{
                margin-right:20px;
                font-size: 12px;
                width: 150px;
                height: 150px;     
            }
        }

        .right_two{
            margin-right: 60px;

            img{
                width: 100px;
            }
        }

        .left_two{
            margin: 5px 10px 0px 90px;

            h3{
                font-size: 16px;
            }
    
            p{
               
                font-size: 12px;
                width: 150px;
                height: 150px;     
            }

        }

        .left{
            margin-left: 20px;

            img{
                width: 100px;
            }
        }

        .cloudy{
            @include circle(40px,40px);
            top: 30px;
            left: 80px;

            p{
                font-size: 10px;
            }
        }
        
        .degree{
            @include circle(40px,40px);
            top: 170px;
            right: 75px;
        
            p{
                font-size: 20px;
            }
        }
        
        .sun{
            @include circle(40px,40px);
            top: 20px;
            right: 40px;

            p{
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width:320px){
    .right-content{
        margin-bottom: 50px;
        margin-left: 25px;
    }
    .feature-list{
        margin: 50px 10px 0px 60px;
    }
    .feature-info{
        h3{
            font-size: 18px;
        }

        p{
            font-size: 14px;
        }
    }

    .screenshots-info{
        .right{
            margin-top: 10px;
            margin-left:50px;

            img{
                height: 40px;
            }
            
            h3{
                font-size: 16px;
            }
    
            p{
                margin-right:20px;
                font-size: 12px;
                width: 150px;
                height: 150px;     
            }
        }

        .right_two{
            margin-right: 60px;

            img{
                width: 100px;
            }
        }

        .left_two{
            margin: 10px 10px 0px 90px;

            h3{
                font-size: 16px;
            }
    
            p{
               
                font-size: 12px;
                width: 150px;
                height: 150px;     
            }

        }

        .left{
            margin-left: 20px;

            img{
                width: 100px;
            }
        }

        .cloudy{
            @include circle(40px,40px);
            top: 30px;
            left: 80px;

            p{
                font-size: 10px;
            }
        }
        
        .degree{
            @include circle(40px,40px);
            top: 170px;
            right: 130px;
        
            p{
                font-size: 20px;
            }
        }
        
        .sun{
            display: none;
        }
    }

    .quote{
        width: 300px;
        margin-right:10px;
    }

    .download-left{
        margin-left: 0px;
    }
    .download-right{
        margin-top: 20px;
        margin-left: 60px;
    }


}